/*
author:ning
date:2008-8-22
有些是抄gmail 的，所以叫g.css了
*/

.pageCenter
{
    width:960px;
    margin: 0 auto;    
}
body
{
    width:960px;
    margin: 0 auto;
    
}

.header{
	background:transparent none repeat scroll 0 0;
	border-bottom:1px solid #C9D7F1;
	
	margin-bottom:2px;
	
}


