<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLL.Properties.Settings.VCFConnectionString1" connectionString="Data Source=HUST-NING\SQLEXPRESS;Initial Catalog=VCF;Persist Security Info=True;User ID=vcf;Password=vcf"
            providerName="System.Data.SqlClient" />
        <add name="BLL.Properties.Settings.VCFConnectionString" connectionString="Data Source=HUST-NING;Initial Catalog=VCF;Persist Security Info=True;User ID=vcf;Password=vcf"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>